<!-- Glassy Navigation Bar -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/images/anits.jpeg"
        alt="ANITS Logo"
        class="navbar-brand-logo"
      />
      <span>ANITS | Anti-Ragging Portal</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'home' ? 'active' : '' %>"
            href="/"
          >
            <i class="fas fa-home me-1"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'submit' ? 'active' : '' %>"
            href="/complaint/submit"
          >
            <i class="fas fa-file-alt me-1"></i>Submit Complaint
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="awarenessDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fas fa-info-circle me-1"></i>Information
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/rules"
                ><i class="fas fa-book me-2"></i>Anti-Ragging Rules</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/penalties"
                ><i class="fas fa-gavel me-2"></i>Penalties</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/rights"
                ><i class="fas fa-user-shield me-2"></i>Student Rights</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/committee"
                ><i class="fas fa-users me-2"></i>Committee</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/contact"
                ><i class="fas fa-phone me-2"></i>Emergency Contact</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'track' ? 'active' : '' %>"
            href="/complaint/track"
          >
            <i class="fas fa-search me-1"></i>Track Complaint
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'admin' ? 'active' : '' %>"
            href="/admin/login"
          >
            <i class="fas fa-user-shield me-1"></i>Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
